
body {
    font-family: "Source Code Pro", sans-serif;
  }
  

  
  h2 {
    margin-top: 3em;
    color: grey;
  }
  h2:first-child {
    margin-top: 0;
  }
  
  .underlined {
    color: black;
    flex: 1;
    font-size: 2em;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background 0.5s;
  }
  .underlined:hover {
    background-size: 100% 100%;
  }
  .underlined--thin {
    background-image: linear-gradient(to right, black 0, black 100%);
  }
  .underlined--thick {
    background-position: 0 -0.3em;
  }
  .underlined--offset {
    background-position: 0 0.2em;
    box-shadow: inset 0 -0.5em 0 0 white;
  }
  .underlined--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
  }
  .underlined--reverse {
    background-position: 100% -0.1em;
    transition: background 1s;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
  }

  .card {
    width: auto;
    padding: 30px;
    background: #1abc9c;
    margin: auto;
    transition: 0.3s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  .card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px) scale(1.02);
  }
  .card:hover .entry-title {
    background-position: -100% 0;
  }
  
  .entry-title {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #16a085 50%);
    background-size: 200%;
    background-position: 0 0;
    display: inline;
    transition: 0.5s ease-in-out;
    font-family: raleway, arial, sans-serif;
    text-transform: uppercase;
  }
  .entry-title a {
    color: white;
    text-decoration: none;
  }
  
  small {
    margin-top: 20px;
    display: block;
    font-family: raleway, arial, sans-serif;
    color: white;
    text-transform: uppercase;
  }
  small a {
    font-weight: 700;
    color: white;
    text-decoration: none;
  }

  span {
    display: block;
    margin-top: 10px;
    font-family: raleway, arial, sans-serif;
    font-weight: 700;
    color: #16a085;
  }
  span a {
    color: white;
  }